<div class="card shadow search-card m-4" style="width: 18rem;">
  <div class="card-body">
    <p class="card-title h5">{{result.name}}</p>
    <p class="card-subtitle mb-2 text-muted h6">Color ID : {{result.color}}</p>
    <p class="card-subtitle mb-2 text-muted h6">Material Name : {{result.material}}</p>
    <p class="card-subtitle mb-2 text-muted h6">Rarety : {{result.rarety}}</p>
    <a href="{{path('item_view' , {itemID : result.itemID})}}" class="btn btn-primary d-block mx-5 mt-3">View</a>
  </div>
</div>